<h3 class= "Headings">All Projects</h3>
<div id="container">
  <% if @all_projects.length == 0%>
  <div class="list-proj box">
    <%= image_tag "nothing.jpg"%>
  </div>
  <%end%>
  <% @all_projects.each_with_index do |proj, index|%>
  <div class="list-proj box">
  <%= image_tag proj.image.url%>
    <div class="caption inlineb blurb">
      <div class="proj-title inlineb">
        <h2 class= "Headings"><%= proj.title%></h2>
        By <%= proj.student.email%>
      </div>
      <div class = "funds">
        Funds Raised:
        <br />
        <div class="progress progress-striped">
          <div class="bar" style="width: <%= (proj.total_donation / proj.goal)*100%>%;">$<%= proj.total_donation %></div>
        </div>
      </div>
      <%= link_to 'View', proj , :class => 'btn btn-primary'%>
    </div>
  </div>
  <%end%>
</div>

<!-- contains the content to be loaded when scrolled -->
<nav id="page-nav">
  <a href="pages/2.html"></a>
</nav>
