<h1 class ="Headings"><%= current_user.first_name%>'s Dashboard</h1>
<%= link_to 'New Project', new_project_path, :class => 'btn inlineb btn-primary'  %>
<br/>
<%= render "stud_main"%>
<%= render "stud_myproj"%>
<%= render "stud_sharedproj"%>
<%= render "all_projects"%>

<!-- <div id="container">
  <div class="box">
    <p>content</p>
  </div>
  ...
</div>

contains the content to be loaded when scrolled
<nav id="page-nav">
  <a href="pages/2.html"></a>
</nav> -->