<%= form_for [@project, @donation] do |f| %>
  <span class="error_messages">
  </span>  
  <%= f.hidden_field :project_id %>  
  <div class="field">
      <%= text_field_tag :card_number, nil, name: nil, placeholder: "Card Number", size: 20, data: {stripe: 'number'}%>
  </div>
  <div class="field">
      <%= text_field_tag :card_code, nil, name: nil, placeholder: "CVC", size: 4, data: {stripe: 'cvc'}%>
  </div>
  <div class="field">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers_true: true}, name: nil, data: {stripe: 'exp-month'}%>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, name: nil, data: {stripe: 'exp-year'}%>
  </div>
   <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <div class="actions"><%= f.submit "Donate" %></div>
<% end %>

