<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, :required=>:true %>
    </div>
    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image, :required=>:true%>
    </div>
    <div class="field">
      <%= f.label :video %><br />
      <%= f.text_field :video, :required=>:true%>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, :required=>:true %>
    </div>
    <div class="field">
      <%= f.label :goal %><br />
      <%= f.number_field :goal, step: 0.01, :required=>:true %>
    </div>
    <div class = "field">
      <%= f.fields_for :advisors do |builder|%>
       <%=render "advisor_fields", :f => builder %>
      <%end%>
    </div>
    <div class = "field">
      <%= f.fields_for :collaborations do |builder|%>
       <%=render "collaborator_fields", :f => builder %>
      <%end%>
    </div>
    <div class = "field">
      <%= f.fields_for :tags do |builder|%>
       <%=render "tag_fields", :f => builder %>
      <%end%>
    </div>
    <%= f.submit %>
  </div>
<% end %>
