<p id="notice"><%= notice %></p>

<div class="proj-header inlineb">
	<div class = "proj-image inlineb">
		<%= image_tag @project.image.url%>
	</div>
	<div class="rightinfo inlineb blurb">
		<div class="proj-title inlineb Headings">
			<h2><%= @project.title%></h2>
		</div>
		<div class="proj-owner inlineb">
			By <%= @project.student.name%>
		</div>
	</div>	
</div>

<div class= "proj-video inlineb">
	<iframe src="<%= strip_tags(@project.youtube_embed)%>" frameborder="0" allowfullscreen></iframe>
</div>
<div class = "proj-donations inlineb blurb">
	<div class="stats"`
		<h4>Number of Donors: <%= @project.number_of_donators%></h4>
		<h4>Total: $<%= @project.total_donation %>.0</h4>
		<div class="progress progress-striped">
		  <div class="bar" style="width: <%= (@project.total_donation / @project.goal)*100%>%;">$<%= @project.total_donation %></div>
		</div>
		<h6>Raised of $<%= @project.goal%></h6>
		<%if current_user.type == "Alumni" %>
	    	<%= link_to 'Donate', new_project_donation_path(@project), class: "btn btn-primary" %>
	    <%end%>
	</div>
	<div class="proj-tags inlineb">
		Tags: <br/>
		<%@project.tags.each do |tag|%>
			<div class="proj-tag inlineb">
				<%=tag.title%>
			</div>
		<%end%>
	</div>
</div>
<div class ="proj-display blurb">
	<div class="proj-title inlineb wide-width fake-hr">
		<b>Title:</b><%= @project.title%>
	</div>
	<div class = "proj-descrip inlineb wide-width fake-hr">
		<b>Description:</b> <%= @project.description%>
	</div>
	<div class = "proj-advisors inlineb wide-width fake-hr">
		<div class="title inlineb"><b>Advisors:</b></div>
		<%@project.advisors.each do |advisor|%>
			<div class ="proj-advisor inlineb">
				<%=advisor.name%> <br/> 
				<%= advisor.email%>
			</div>
			
		<%end%>
	</div>
	<div class ="proj-collabs inlineb wide-width fake-hr">
		<div class="title inlineb"><b>Collaborators:</b></div>
		<%@project.collaborations.each do |collaborator|%>
			<div class="proj-collab inlineb">
				<%=collaborator.name%><br/>
				<%= collaborator.email%>
			</div>
		<%end%>
	</div>
	<%= link_to 'Back', projects_path, :class => 'btn btn-primary' %> 
	<%= link_to 'Updates', project_updates_path(@project), :class => 'btn btn-primary'%> 
	<% if @project.access_level(current_user.id) == "owner" || @project.access_level(current_user.id) == "collaborator"%>
		<%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-primary' %> 
		<%= link_to 'Create Update', new_project_update_path(@project), :class => 'btn btn-primary'%>
		<%if @project.access_level(current_user.id) == "owner"%>
			<%= link_to 'Destroy', project_path(@project), 
				:method => :delete, 
				:class => 'btn btn-danger', 
				:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } 
				%>
		<%end%>
	<%end%>
</div>




