<h1 class = "logo"> AngelAlums </h1>
<h2 class = "subheading"> 
	Connect Alums and Students through Creative Projects
	<br>
	Define and Support MIT Innovation
</h2>
<div class = "signin-form">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
  <div class = "control-group1">
  	<div class = "controls">
  	<%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "input-large" %>
  	</div>
  </div>
  <div class = "control-group2">
  	<div class = "controls">
  	<%= f.password_field :password, placeholder: "Password", class: "input-large" %>
  	</div>
  </div>
  <div class = "control-group3">
  	<div class = "controls">
  	<% if devise_mapping.rememberable? -%>
    	<%= f.label :remember_me, class: "checkbox" do %>
    	<%= f.check_box :remember_me %>Remember me
    	<% end %>
  	<% end -%>
  	<%= f.submit "Sign in", class: "btn btn-primary btn-large btn-block signin-button" %>
  	</div>
  </div>
  <div class = "control-group4">
    <div class = "controls">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
</div>

<div class = "homepage-stats">
	<div class = "stats_projects">
		<div class = "number">250</div>
		<div class = "description">projects</div>
	</div>
	<div class = "stats_students">
		<div class = "number">2560</div>
		<div class = "description">students</div>
	</div>
	<div class = "stats_alums">
		<div class = "number">19234</div>
		<div class = "description">alums</div>
	</div>
</div>

