<!-- a form for update/new and update/edit -->

<%= form_for [@project, @update], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field update_input_field', :placeholder=>'title', :required=>:true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :rows=>10, :cols =>20, :placeholder =>'content', :class => 'update_input_field', :required=>:true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image %>
    </div>
  </div>
  
  <!-- I've been getting errors if I set before_action(set_project) for edit, so I created this hack -->
  <div class="form-actions">
    <%= f.submit 'Submit changes', :class => 'btn btn-primary' %>
    <% if params[:project_id] %>
      <% project = Project.find(params[:project_id]) %>
    <% else %>
      <% project = Project.find(@update.project_id) %>
    <% end %>
    
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                project_updates_path(project), :class => 'btn' %>
  </div>
<% end %>
