<!-- Partial view for Update -->
<!-- Required parameters : update -->



        	  <hr>
	          <h1><%= link_to update.title, update %></h1>
	          <p class="lead">by <%= update.student %></a></p>
	          <hr>
	          <p><%= glyph(:time) %> Posted on <%= update.updated_at.in_time_zone('America/New_York').to_formatted_s(:long_ordinal) %></p>
	          <hr>
	          <% if update.has_image? %>
	          	<img src = "<%= update.image.url%>" class = "img-responsive">
	          <% end %>
	          <p><%= simple_format update.content %>
			  </p>
	         


