<div class="container">
    <div class = "row">
        <div class="page-header well">
          <h1>Showing updates for <%= link_to @project.title, @project %></h1>
          <% if @can_write %>
            <p id="new_update"><%= link_to 'Add new update', new_project_update_path(@project) %></p>
          <% end %>
        </div>
    </div>
</div>

<!-- render from newest to oldest -->
<div class="container">
    <div class="row">
        <div class="col-md-12"> 
          <% @updates.reverse.each do |update| %>
      			 <div class="update_entry">
  				      <%= render update %>
                <div class="form-actions">
                   <%= render "update_action_forms", :update => update, :project => @project %>
                </div>
  			     </div>
          <% end %>
        </div>  
    </div>
</div>


<%
=begin %>
<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_update_path,
            :class => 'btn btn-primary' %>
</div>
<%
=end %>
            
<%
=begin %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_update_path(update), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      update_path(update),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
<%
=end %>
